{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "overrides": [
    { "files": ["*.md", "*.mdx"], "options": { "printWidth": 80, "proseWrap": "preserve" } },
    { "files": ["*.json", "*.jsonc"], "options": { "trailingComma": "none" } }
  ]
}
